FULL_NAME=
PHONE=
EMAIL=
YEARS_OF_EXPERIENCE=
CURRENT_CTC=
CURRENT_CTC_LAKHS=
EXPECTED_CTC=
EXPECTED_CTC_LAKHS=
LOCATION=
LINKEDIN_URL=
PORTFOLIO_URL=
COVER_LETTER=
NOTICE_PERIOD=
ADDITIONAL_INFO=
WILLING_TO_RELOCATE=
WILLING_TO_COMMUTE=
AUTHORIZED_TO_WORK=
REQUIRE_VISA_SPONSORSHIP=
OLLAMA_ENABLED=
OLLAMA_ENDPOINT=
OLLAMA_MODEL=
OLLAMA_TIMEOUT_MS=
